.popup {
  background-color: var(--error-primary-color);
  color: var(--error-secondary-color);
  padding: 7px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  border: 1px solid var(--error-secondary-color);
  max-width: 60%;
  text-align: center;
}
