* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#site-main {
  flex-grow: 1;
}

h1 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 5px;
}
