:root {
  --primary-color: #7A005E;
  --primary-dark-color: #590045;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  --background-primary-color: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#site-main {
  flex-grow: 1;
}