.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;

  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  width: 50%;
}

.form a:first-child {
  margin-right: 10px;
}

#registration-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}