.primary-btn, .secondary-btn, .small-btn {
  border: none;
  cursor: pointer;
}

.primary-btn, .secondary-btn {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

.primary-btn, .small-btn {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  transition: background-color 0.3s ease;
}

.primary-btn:hover, .small-btn:hover {
  background-color: var(--primary-dark-color);
}

.secondary-btn {
  /* TODO: */
}

.small-btn {
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0.9em;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.disabled-btn {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
}

.disabled-btn:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

input[type="submit"] {
  display: inline;
  width: auto;
}