main#container {
  width: 60%;
  margin: 50px auto;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.info-section {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
  justify-items: center;
}

#clothes {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 80%;
}

.invitation {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invitation:not(:last-child) {
  padding-bottom: 20px;
}

.invitation .small-btn {
  padding: 5px 10px;
}